version: '3.9'
services:
	app:
		build: .
		container_name: ai_content_app
		env_file:
			- ../.env
		ports:
			- "8000:8000"
		depends_on:
			- db
			- redis
		volumes:
			- .:/app
		restart: always

	db:
		image: postgres:15
		container_name: ai_content_db
		environment:
			POSTGRES_USER: ${DB_USER}
			POSTGRES_PASSWORD: ${DB_PASSWORD}
			POSTGRES_DB: ${DB_NAME}
		ports:
			- "5432:5432"
		volumes:
			- postgres_data:/var/lib/postgresql/data
		restart: always

	redis:
		image: redis:7
		container_name: ai_content_redis
		ports:
			- "6379:6379"
		restart: always

volumes:
	postgres_data:
